<section>
    <h1>Tasks</h1>
    <form action="/tasks/search" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term">
      <input type="submit" value="Search">
    </form>
  </section>