
<section id="quotes" class="container">
<h1>Quotes template</h1>

{{#each quotes}}
<div class="quotes">
    <h4>Quote</h4>
    <p>{{quoteText}}</p>
    <h4>Date</h4>
    <p>{{createdAt}}</p>
</div>
{{else}}
<p>No quotes available</p>
{{/each}}

</section>